{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mt-3">
                    <div class="card mb-3">
                        <img src="{{ product.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            {% comment %} <h5 class="card-title"><a href="{% url 'product:product-detail' product.slug %}" class="text-decoration-none">{{ product.title }}</a></h5> {% endcomment %}
                            <h5 class="card-title"><a href="{{ product.get_absolute_url }}" class="text-decoration-none">{{ product.title }}</a></h5>
                            <p class="card-text">
                                {{ product.description|truncatewords:10 }}
                            </p>
                            <div class="d-flex justify-content-between">
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="{% url 'cart:add-cart' slug=product.slug %}" class="text-decoration-none text-center fw-bold">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}