{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card bg-dark text-white">
                <img src="{{ product.image }}" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title display-6 fw-bold">{{ product.title }}</h5>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between align-items-baseline">
                        <h5 class="fs-5">{{ product.title }}</h5>
                        <p class="fs-5">${{ product.price }}</p>
                    </div>
                    <div class="text-end">
                        <a href="{% url 'cart:add-cart' food=product.slug %}" class="text-decoration-none text-center fw-bold">- Add to cart</a>
                    </div>
                    <hr>
                    <p class="card-text">
                        {{ product.description|linebreaksbr }}
                    </p>
                    <p class="card-text"><small class="text-muted">Last checked 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}